 <!DOCTYPE html>
<html>
<head>
        <title>Account Setting</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
            
            
            <!-- MATERIAL DESIGN ICONIC FONT -->
        <link rel="stylesheet" href="design_files/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
                
                <!-- STYLE CSS -->
        <link rel="stylesheet" href="design_files/css/style.css"> 

        <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-storage.js"></script>
</head>

<body>
<div class="wrapper" style="background-image: url('design_files/images/loginback.jpg')">
<div class="inner">
<div class="image-holder">
<img src="design_files/images/login.jpg"></div>
<form action="/addRoom" method="POST">
            <h1>Account Settings</h1>
            <div class="form-wrapper">
                <input type="text" placeholder="block" name="block" id="block" class="form-control" />
                <input type="text" placeholder="second Name" name="secondName" id="secondName" class="form-control" />
                 <i class="zmdi zmdi-lock"></i>
            <!-- </div>
                <div class="form-wrapper">
               <select name="" id="country"name="country" class="form-control">
               <option value="" disabled selected>Country</option>
               <option value="E1-block">India</option>
               <option value="E2-block">Class B</option>
                <option value="E3-block">Class c</option>
                <option value="E4-block">Class D</option>
               </select>
               <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
            </div>
            <div class="form-wrapper"> -->
                <input type="text" placeholder="room_no" id="room_no" name="room_no" class="form-control" />
                 <i class="zmdi zmdi-lock"></i>
  
            </div>
                <div class="form-wrapper">
               <select id="gender" name="gender" class="form-control">
               <option value="" disabled selected>Gender</option>
               <option value="Male">Male</option>
               <option value="Female">Female</option>
               </select>
               <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
            </div>

            <div class="form-wrapper">
                <input type="text" placeholder="Address" name="address" id="address" class="form-control" />
                <i class="zmdi zmdi-lock"></i>
  
            </div>
            <div class="form-wrapper">
                <input type="Number" placeholder="Number of Windows" name="numberOfWindows" id="numberOfWindows" class="form-control" />
                <i class="zmdi zmdi-lock"></i>
  
            </div>


            <div class="form-group container-login100-form-btn">
                <button id="btn-update" type="submit">
                Update & Set
                <i class="zmdi zmdi -arrow-right"></i> 
              </button>
        </div>

        </form><!-- form -->

</div>
</div>

<!-- <script src="index.js"></script>
<script>
firebase.auth().onAuthStateChanged(function(user){
    if(user){
        window.location.href ="index.html";
    }
}); -->
</script>
</body>
</html>