 <!DOCTYPE html>
<html>
<head>
        <title>Forget Password</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
            
            
            <!-- MATERIAL DESIGN ICONIC FONT -->
        <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
                
                <!-- STYLE CSS -->
        <link rel="stylesheet" href="css/style.css"> 

        <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-storage.js"></script>
</head>

<body>
<div class="wrapper" style="background-image: url('images/loginback.jpg')">
<div class="inner">
<div class="image-holder">
<img src="images/login.jpg"></div>
<form action="/resetPassword" method="POST">
            <h1>Forget Password</h1>
            <div class="form-group">
              <p style="text-align: justify;">
              Please enter your email address below and we will send you information to recover your acount.
              </p>
            </div>
                <div class="form-wrapper">
                <input type="email" name="email" placeholder="Email Address" id="email" class="form-control" />
                 <i class="zmdi zmdi-lock"></i>
            </div>
            <div class="form-group container-login100-form-btn">
  
                <button id="btn-resetPassword" type="submit">
                Reset Password
                <i class="zmdi zmdi-arrow-right"></i> 
              </button>
            </div>

        </form><!-- form -->

</div>
</div>

<script src="index.js"></script>
<script>
firebase.auth().onAuthStateChanged(function(user){
    if(user){
        window.location.href ="index.html";
    }
});
</script>
</body>
</html>