<!DOCTYPE html>
<html>
<head>
        <title>Home</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-database.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-storage.js"></script>
</head>

<body class="h-100">

<nav class="navbar navbar-expand-lg bg-dark text-white">
    <div class="container-fluid">
    <ul class="nav navbar-nav">
    <li class="active">
    <a class="navbar-brand" style="color: whitesmoke;text-decoration-style: wavy;" href="#">
    Street Light
    </a>
    </li>

    <li >
    <a class="nav-link" style="color: whitesmoke;text-decoration-style: wavy;" href="#">
    <span style="color: white">
    Street Light</span>
    </a>
    </li>

    <li >
    <a class="nav-link" style="color: whitesmoke;text-decoration-style: wavy;" href="#">
    <span style="color: white">
    Street Light</span>
    </a>
    </li>
</ul>
    <div class="dropdown navbar-right">
    <button class="btn btn-light dropdown-toggle bg-dark text-white"
    type="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false">

    Options
    </button>

    <div class="dropdown-menu"
    aria-labelledby="option-id">

    <a class="dropdown-item" id="btn-logout" href="/logout">
    Logout
    </a>
    </div>
    </div>
</nav>


<div class="row h-100 bg-light">
<div class="col-lg-0 bg-secondary">
<ul class="nav flex-column">

</ul>
</div>

<div class="col-lg-12">
<div class="com=ntainer" id="container">
</div>
</div>
    
    </div>

<script src="index.js"></script>
<script>
firebase.auth().onAuthStateChanged(function(user){
    if(!user){
        window.location.href ="signin.html";
    }
});
</script>
</body>
</html>